body {
	min-width: 900px;
}

.container-fluid {
	background-color: lavender;

	header {
		border-bottom: 1px solid black;
		
		h1 {
			font-family: monospace;
		}
		
		h2 {
			font-family: cursive;
		}
	}
	
	footer {
		border-top: 1px solid black;
		text-align: end;
	}
}
